<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="七日杀Mod管理器.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <七日杀Mod管理器.Settings1>
            <setting name="GameFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBackup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupListViewStr" serializeAs="String">
                <value />
            </setting>
        </七日杀Mod管理器.Settings1>
    </userSettings>
</configuration>